*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
/TestClient/
Version.cs
Version.h
Version.cpp
bin
obj
.vscode/
src/NPrismy/.vs/
Properties
PackageSettings.cs
IOLogger.cs
/sender
/Worker
/zcommon
/worker2
.vs
